form {
    display: grid;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    gap: 5px;
}

.form-message {
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}